# Vivado specific
*.jou
*.log
*.str
*.bin
*.rpx
*.wcfg
*.xml
*.xpr
*.d
*.cache/
*.hw/
*.runs/
*.sdk/
*.sim/
*.sysdef
*.sysdebug
*.temp/
*.webtalk/
*.xsa

# DS files
.DS_Store

# Backup files
*.bak
*.sav

# Tcl history
tcl_history.txt

# Vitis specific
*.launch
*.ide
*.sw/
*.build/
*.debug/

# OS specific
Thumbs.db
desktop.ini
